@import "tailwindcss";

/* Css Variables */
:root {
  --background: var(--color-typo-800);
  --foreground: var(--color-typo-100);

  /* Home Backgrounds */
  --bg-hero: url('../public/images/home/backgrounds/bg-hero.png');
  --bg-about: url('../public/images/home/backgrounds/bg-about.png');
  --bg-plans: url('../public/images/home/backgrounds/bg-plans.png');
  --bg-faq: url('../public/images/home/backgrounds/bg-faq.png');
  --bg-footer: url('../public/images/home/backgrounds/bg-footer.png');
}

/* Initial Styles */
@theme inline {
  /* Font */
  --font-inter: var(--font-geist-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Home Backgrounds */
  --background-image-hero: var(--bg-hero);
  --background-image-about: var(--bg-about);
  --background-image-plans: var(--bg-plans);
  --background-image-faq: var(--bg-faq);
  --background-image-footer: var(--bg-footer);
}

/* Tailwind Variables */
@theme {
  /* Brand colors */
  --color-brand-default: #EA3341;
  --color-brand-bright: #EE5964;
  --color-brand-brighter: #F27E86;
  --color-brand-dark: #DE1726;
  --color-brand-darker: #B91320;

  /* Feedback colors */
  --color-success: #79CC14;
  --color-info: #00ACBF;
  --color-danger: #FCA30A;
  --color-warning: #E53472;

  /* Text sizes */
  --text-paragraph: 16px;
  --text-caption: 12px;
  --text-section-title: 24px;
  --text-section-subtitle: 19px;
  --text-title: 33px;
  --text-subtitle: 28px;
  --text-highlight: 45px;

  /* Typograph colors */
  --color-typo-800: #050505;
  --color-typo-700: #292929;
  --color-typo-600: #4D4D4D;
  --color-typo-500: #707070;
  --color-typo-400: #949494;
  --color-typo-300: #B8B8B8;
  --color-typo-200: #DBDBDB;
  --color-typo-100: #FFF;

  /* Boxes background color */
  --color-box: #141414;
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-typo-100);
    --foreground: var(--color-typo-700);

    /* Home Backgrounds */
    --bg-hero: url('../public/images/home/backgrounds/light/bg-hero.png');
    --bg-footer: url('../public/images/home/backgrounds/light/bg-footer.png');
    --bg-faq: url('../public/images/home/backgrounds/light/bg-faq.png');

    --color-box: #f1f1f1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--text-paragraph);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
  transition: all .2s linear;

  &:hover,
  &:focus {
    color: var(--color-brand-default);
  }
}